{% extends 'src-WA/layouts/master.html' %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Account Profile</h3>
                <p class="text-subtitle text-muted">A page where users can change profile information</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center align-items-center flex-column">
                            <div class="avatar avatar-2xl">
                                <img src="./assets/compiled/jpg/2.jpg" alt="Avatar">
                            </div>

                            <h3 class="mt-3" id="UserNameId">John Doe</h3>
                            <p class="text-small" id="MobileNumberId">Junior Software Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <form action="#" method="get">
                            <div class="form-group">
                                <label for="name" class="form-label">Mobile</label>
                                <input type="text" name="name" id="MobileId" class="form-control"
                                    placeholder="Mobile to send" value="9848163021">
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Message</label>
                                <input type="text" name="email" id="MessageId" class="form-control"
                                    placeholder="Your Email" value="For Testing">
                            </div>
                            <div class="form-group">
                                <button type="button" id="SendButtonId" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
    let webSocket;
</script>
<script type="module" src="./Js/SendMessage/WebSocket/EntryFile.js"></script>
<script type="module" src="./Js/SendMessage/StartFunc.js"></script>

<!-- <script type="module" src="./Js/SendMessage/WebSocket/EntryFile.js"></script>
<script type="module" src="./Js/SendMessage/StartFunc.js"></script> -->
{% endblock %}