{% set title = 'Dashboard' %}
{% set filename = 'index.html' %}

{% extends 'src/layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="/assets/scss/iconly.scss">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Latest Comments</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-lg">
                        <thead>
                            <tr>
                                <th>Message</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-3">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-md">
                                            <img src="./assets/compiled/jpg/5.jpg">
                                        </div>
                                        <p class="font-bold ms-3 mb-0">returnOnlineClients</p>
                                    </div>
                                </td>
                                <td class="col-auto">
                                    <p class=" mb-0">Congratulations on your graduation!</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-3">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-md">
                                            <img src="./assets/compiled/jpg/2.jpg">
                                        </div>
                                        <p class="font-bold ms-3 mb-0">GetWebSocketId</p>
                                    </div>
                                </td>
                                <td class="col-auto">
                                    <p class=" mb-0">Wow amazing design! Can you make another
                                        tutorial for
                                        this design?</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-3">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-md">
                                            <img src="./assets/compiled/jpg/8.jpg">
                                        </div>
                                        <p class="font-bold ms-3 mb-0">returnOnlineClientsWOMe
                                        </p>
                                    </div>
                                </td>
                                <td class="col-auto">
                                    <p class=" mb-0">What a stunning design! You are so talented
                                        and
                                        creative!</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="col-3">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar avatar-md">
                                            <img src="./assets/compiled/jpg/3.jpg">
                                        </div>
                                        <p class="font-bold ms-3 mb-0">Rani Jhadav</p>
                                    </div>
                                </td>
                                <td class="col-auto">
                                    <p class=" mb-0">I love your design! It’s so beautiful and
                                        unique! How did you learn to do this?</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<!-- Need: Apexcharts -->
<script src="assets/static/js/pages/dashboard.js"></script>
{% endblock %}